<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/3c178c2d41.js" crossorigin="anonymous"></script>
    {% block head %}{% endblock %}
    <style>
        body {
            background-image: url('../static/assets/669166.jpg');
            background-size: contain;
            background-repeat: repeat;
            min-height: 100vh;
        }
        .card {
            background-color: rgb(238, 238, 147);
        }
        .table {
            background-color: rgb(238, 238, 147);
        }
        .card-header {
            background-color: white;
        }
    </style>
</head>
<body>
    {% block body %}
    <!--  -->
    
    <!--  -->
    {% endblock %}
</body>
</html>