{% extends 'base.html' %}


{% block title %}

{% endblock %}

{% block body %}
<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <strong>Tic Tac Toe</strong>
      </a>
  
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          Home
        </a>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
          </div>
        </div>
      </div>
    </div>
  </nav>


  <div style="width: 40em; display: flex; flex-direction: column;margin-top: 5em;margin-left: auto;margin-right:auto">
    <div style="border-style: solid;border-color: grey;padding-top: 5em;padding-bottom: 5em;padding-right: 1em;padding-left:1em;">
        <strong><span style="font-size: 1.5em;">Create a game!</span></strong>
        <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input class="input" type="text" placeholder="Game Name">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input class="input" type="number" placeholder="X value">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input class="input" type="number" placeholder="O value">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input class="input" type="number" placeholder="Empty value">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </p>
          </div>
          <div style="display: flex;flex-direction: row;justify-content: space-between;">
            <div class="field">
                <p class="control">
                  <button class="button is-success">
                    Create Game
                  </button>
                </p>
              </div>

          </div>
    </div>
  </div>
{% endblock %}