{% extends 'base.html' %}


{% block title %}

{% endblock %}

{% block body %}
<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a href="/" class="navbar-item">
        <strong>Tic Tac Toe</strong>
      </a>
  
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a href="/" class="navbar-item">
          Home
        </a>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
          </div>
        </div>
      </div>
    </div>
  </nav>


  <div style="width: 40em; display: flex; flex-direction: column;margin-top: 5em;margin-left: auto;margin-right:auto">
    <div style="border-style: solid;background: white;border-color: grey;padding-top: 5em;padding-bottom: 5em;padding-right: 1em;padding-left:1em;">
        <strong><span style="font-size: 1.5em;">Create a game!</span></strong>
        <form action="/createGame" method="POST">
        <div class="field">
          <input class="input" type="text" name="name" placeholder="Game Name">
          </div>
          <div class="field">
            <input class="input" name="x_value" type="number" placeholder="X value">
          </div>
          <div class="field">
            <input class="input" type="number" name="o_value" placeholder="O value">
          </div>
          <div class="field">
            <input class="input" type="number" name="empty_value" placeholder="Empty value">
          </div>
          <div class="columns">
            <div class="column columns">
              <div class="column">
                <input type="checkbox" value="true" name="row1" class="checkbox">
                <label for="vehicle1">Row 1</label><br>
                <input type="checkbox" name="row2" class="checkbox">
                <label for="vehicle1">Row 2</label><br>
                <input type="checkbox" name="row3" class="checkbox">
                <label for="vehicle1">Row 3</label><br>
                <input type="checkbox" name="dia1" class="checkbox">
                <label for="vehicle1">Diagonal 1</label><br>
                <input type="checkbox" name="dia2" class="checkbox">
                <label for="vehicle1">Diagonal 2</label><br>
              </div>
              <div class="column">
                <input type="checkbox" name="col1" class="checkbox">
                <label for="vehicle1">Col 1</label><br>
                <input type="checkbox" name="col2" class="checkbox">
                <label for="vehicle1">Col 2</label><br>
                <input type="checkbox" name="col3" class="checkbox">
                <label for="vehicle1">Col 3</label><br>
                <input type="checkbox" name="entire" class="checkbox">
                <label for="vehicle1">Entire grid</label><br>
              </div>
            </div>
            <div class="column">
              <input type="checkbox" name="type" placeholder="Multiplication">
              <label for="vehicle1">Multiplication</label><br>
              <input type="checkbox" name="ztype" placeholder="Multiplication">
              <label for="vehicle1">Addition</label><br>
            </div>
          </div>
          <div style="display: flex;flex-direction: row;justify-content: space-between;margin-top: 2em;">
            <div class="field">
                <p class="control">
                  <button type="submit" value="Submit" class="button is-success">
                    Create Game
                  </button>
                </p>
              </div>

          </div>
        </form>
    </div>
  </div>
{% endblock %}