{% extends 'base.html' %}


{% block head %}
<style>
.main-box{
    max-width: 100rem;
    width: 60rem;
    height:60rem;
    background-color: rgb(248, 248, 149);
}

.contain{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10em;
    background-color: rgb(248, 248, 149);
}

.panel {
    background-color: rgb(248, 248, 149);
}

.id {
    display: none;
}
.table tr td {
    font-weight: 1000;
}
</style>






{% endblock %}

{% block body %}
<!--  -->

<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a href="/" class="navbar-item" href="">
      <strong>Tic Tac Toe</strong>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="/" class="navbar-item">
        Home
      </a>
    </div>
  </div>
</nav>

<div style="margin-top: 5em;width: 70em;display: flex;flex-direction: column;margin-left: auto;margin-right: auto;">
    <article class="panel is-primary">
        <p class="panel-heading">
          Game Details
          <span class="id">{{game.gid}}</span>
        </p>
       <!--  -->
       <!-- THE GRID FOR TIC TAC TOE. THE GRID CONSISTS OF TABLE WITH CUSTOM CSS FOR EACH CELL TO SCALE TO EQUAL SIZE. -->
    <div style="display: flex; flex-direction: row; ">
        <div style="margin:5em" class="columns">
            <div class="column">
                <span>Player 1: {{ name }}</span>
                <span>Player 2: Computer</span>
                <br><br>
                <table style="border: 1px solid white;">
                    <tr style="border: 1px solid white;">
                        <td id="1" style="border: 5px solid white;width: 5em;height: 5em;cursor: pointer;text-align: center;vertical-align: middle;"></td>
                        <td id="2" style="border: 5px solid white;width: 5em;height: 5em;cursor: pointer;vertical-align: middle;vertical-align: middle;text-align: center;"></td>
                        <td id="3" style="border: 5px solid white;width: 5em;height: 5em;cursor: pointer;vertical-align: middle;vertical-align: middle;text-align: center;"></td>
                    </tr>
                    <tr style="border: 1px solid white;">
                        <td id="4" style="border: 5px solid white;width: 5em;height: 5em;cursor: pointer;vertical-align: middle;vertical-align: middle;text-align: center;"></td>
                        <td id="5" style="border: 5px solid white;width: 5em;height: 5em;cursor: pointer;vertical-align: middle;vertical-align: middle;text-align: center;"></td>
                        <td id="6" style="border: 5px solid white;width: 5em;height: 5em;cursor: pointer;vertical-align: middle;vertical-align: middle;text-align: center;"></td>
                    </tr>
                    <tr style="border: 1px solid white;">
                        <td id="7" style="border: 5px solid white;width: 5em;height: 5em;cursor: pointer;vertical-align: middle;vertical-align: middle;text-align: center;"></td>
                        <td id="8" style="border: 5px solid white;width: 5em;height: 5em;cursor: pointer;vertical-align: middle;vertical-align: middle;text-align: center;"></td>
                        <td id="9" style="border: 5px solid white;width: 5em;height: 5em;cursor: pointer;vertical-align: middle;vertical-align: middle;text-align: center;"></td>
                    </tr>
                </table>
                <div class="game-status">
                    <button style="margin-top: 2em;" class="button start-button is-success" onclick="startGame()">Start</button>
               </div>
            </div>
            <div class="kol column" style="font-size: large;">
                <b>Instructions (How to play the game!!):</b><br><br><br>

                1: You are ‘X’ and the computer is ‘0’.  <br>
                2: Sit back and enjoy playing Tic-Tac-Toe with the computer. <br>
                3: Once there is a winner, or a tie, the mathematics question that is created shows. <br>
                4: The two types of calculations are: Addition and Multiplication. <br>
                5: Row 1 is the first horizontal row, and so on for the other rows. <br>
                6: Column 1 is the first vertical row, and so on for the other columns. <br>
                7: Diagonal 1 is from top right to bottom left, and vice versa for Diagonal 2. <br>
                8: Answer the question according to the pattern of the grid when the game ends. <br>
                9: All the best!! <br>
            </div>
            <!-- THE QUESTION TAB CONSISTING OF THE QUESTION AND TEXT FIELD FOR ANSWER -->
           </div>
           <div class="question-box" id="question-box" style="margin-top: 4em;font-size: 1.2em;display: none;">
               <strong>Question -</strong>
               <div style="margin-top: 1em;" class="question">
                What is the <span id="type">{{ 'sum' if game.type == 0 else 'multiplication' }}</span> of the <span id="ques">{{ type }}</span> if X = <span id="x_value">{{ game.x_value }}</span>, O = <span id="o_value">{{ game.o_value }}</span> and empty block = <span id="empty_value">{{ game.empty_value }}</span> ?
               </div>
               <div style="margin-top: 1em;" class="field">
                <div class="control">
                  <input id="answer-box" class="input is-primary" type="number" placeholder="Answer">
                </div>
              </div>
              <div>
                <button style="margin-top: 2em;" class="button start-button is-success" onclick="checkAnswer()">Submit Answer</button>
              </div>
           </div>
           <form action="/gamesPlayed" method="POST" hidden>
            <input type="text" name="gid" value="{{ game.gid }}">
            <input type="text" name="result" value="" id="result">
            <input type="submit" id="sub">
        </form>
    </div>
       <!--  -->
      </article>
</div>

<script>

    var answer;
// THIS FUNCTION VERIFIES THE ANSWER BY LOOKING UP AT THE TYPE OF QUESTION AND RUNNING APPROPRAITE FUNCTION TO FETCH THE ANSWER
    const checkAnswer = () => {
        var x = Number(document.querySelector('#x_value').innerHTML)
        var o = Number(document.querySelector('#o_value').innerHTML)
        var empty = Number(document.querySelector('#empty_value').innerHTML)
        var originalAnswer;

        const operation = document.getElementById('type').textContent;
        const selector = document.getElementById('ques').textContent;
        if(operation=='sum'){
            if(selector=='row1'){
                originalAnswer = sumOfFirstRow(x,o,empty);
            }
            else if(selector=='row2'){
                originalAnswer = sumOfSecondRow(x,o,empty);
            }
            else if(selector=='row3'){
                originalAnswer = sumOfThirdRow(x,o,empty);
            }
            else if(selector=='col1'){
                originalAnswer = sumOfFirstCol(x,o,empty);
            }
            else if(selector=='col2'){
                originalAnswer = sumOfSecondCol(x,o,empty);
            }
            else if(selector=='col3'){
                originalAnswer = sumOfThirdCol(x,o,empty);
            }
            else if(selector=='entire'){
                originalAnswer = sumOfGrid(x,o,empty);
            }
            else if(selector=='dia1'){
                originalAnswer = sumOfDiagOne(x,o,empty);
            }
            else if(selector=='dia2'){
                originalAnswer = sumOfDiagTwo(x,o,empty);
            }
        }
        else if(operation=='multiplication'){
            if(selector=='row1'){
                originalAnswer = multOfFirstRow(x,o,empty);
            }
            else if(selector=='row2'){
                originalAnswer = multOfSecondRow(x,o,empty);
            }
            else if(selector=='row3'){
                originalAnswer = multOfThirdRow(x,o,empty);
            }
            else if(selector=='col1'){
                originalAnswer = multOfFirstCol(x,o,empty);
            }
            else if(selector=='col2'){
                originalAnswer = multOfSecondCol(x,o,empty);
            }
            else if(selector=='col3'){
                originalAnswer = multOfThirdCol(x,o,empty);
            }
            else if(selector=='entire'){
                originalAnswer = multOfGrid(x,o,empty);
            }
            else if(selector=='dia1'){
                originalAnswer = multOfDiagOne(x,o,empty);
            }
            else if(selector=='dia2'){
                originalAnswer = multOfDiagTwo(x,o,empty);
            }
        }

// VERIFICATION OF ANSWER TAKES PLACE HERE
        const userAnswer = document.getElementById('answer-box').value;
        console.log(originalAnswer);
        console.log(userAnswer);
        var gid = document.querySelector('.id').innerHTML;
        if(userAnswer == originalAnswer){
            alert('You won')
            document.querySelector('#result').value = 1
        }
        else {
            alert('You lost')
            document.querySelector('#result').value = 0
        }
        document.querySelector('#sub').click()
    }
// FUNCTIONS TO CALCULATE SUM OF ROWS AND COLUMNS
    const sumOfFirstRow = (x,o,blank) => {
        var sum = 0;
        if(document.getElementById('1').textContent=='X'){
            sum+=x;
        }
        else if(document.getElementById('1').textContent=='O'){
            sum+=o;
        }
        else if(document.getElementById('1').textContent==''){
            sum+=blank;
        }
        if(document.getElementById('2').textContent=='X'){
            sum+=x;
        }
        else if(document.getElementById('2').textContent=='O'){
            sum+=o;
        }
        else if(document.getElementById('2').textContent==''){
            sum+=blank;
        }
        if(document.getElementById('3').textContent=='X'){
            sum+=x;
        }
        if(document.getElementById('3').textContent=='O'){
            sum+=o;
        }
        if(document.getElementById('3').textContent==''){
            sum+=blank;
        }
        console.log(sum);
        return sum;
    }

    const sumOfGrid = (x,o,blank) => {
        var sum = 0;
        if(document.getElementById('1').textContent=='X'){
            sum+=x;
        }
        else if(document.getElementById('1').textContent=='O'){
            sum+=o;
        }
        else if(document.getElementById('1').textContent==''){
            sum+=blank;
        }
        if(document.getElementById('2').textContent=='X'){
            sum+=x;
        }
        else if(document.getElementById('2').textContent=='O'){
            sum+=o;
        }
        else if(document.getElementById('2').textContent==''){
            sum+=blank;
        }
        if(document.getElementById('3').textContent=='X'){
            sum+=x;
        }
        if(document.getElementById('3').textContent=='O'){
            sum+=o;
        }
        if(document.getElementById('3').textContent==''){
            sum+=blank;
        }
        // Row 2
        if(document.getElementById('4').textContent=='X'){
            sum+=x;
        }
        else if(document.getElementById('4').textContent=='O'){
            sum+=o;
        }
        else if(document.getElementById('4').textContent==''){
            sum+=blank;
        }
        if(document.getElementById('5').textContent=='X'){
            sum+=x;
        }
        else if(document.getElementById('5').textContent=='O'){
            sum+=o;
        }
        else if(document.getElementById('5').textContent==''){
            sum+=blank;
        }
        if(document.getElementById('6').textContent=='X'){
            sum+=x;
        }
        if(document.getElementById('6').textContent=='O'){
            sum+=o;
        }
        if(document.getElementById('6').textContent==''){
            sum+=blank;
        }
        //Row 3
        if(document.getElementById('7').textContent=='X'){
            sum+=x;
        }
        else if(document.getElementById('7').textContent=='O'){
            sum+=o;
        }
        else if(document.getElementById('7').textContent==''){
            sum+=blank;
        }
        if(document.getElementById('8').textContent=='X'){
            sum+=x;
        }
        else if(document.getElementById('8').textContent=='O'){
            sum+=o;
        }
        else if(document.getElementById('8').textContent==''){
            sum+=blank;
        }
        if(document.getElementById('9').textContent=='X'){
            sum+=x;
        }
        if(document.getElementById('9').textContent=='O'){
            sum+=o;
        }
        if(document.getElementById('9').textContent==''){
            sum+=blank;
        }
        console.log(sum);
        return sum;
    }

    const sumOfSecondRow = (x,o,blank) => {
        var sum = 0;
        if(document.getElementById('4').textContent=='X'){
            sum+=x;
        }
        if(document.getElementById('4').textContent=='O'){
            sum+=o;
        }
        if(document.getElementById('4').textContent==''){
            sum+=blank;
        }
        if(document.getElementById('5').textContent=='X'){
            sum+=x;
        }
        if(document.getElementById('5').textContent=='O'){
            sum+=o;
        }
        if(document.getElementById('5').textContent==''){
            sum+=blank;
        }
        if(document.getElementById('6').textContent=='X'){
            sum+=x;
        }
        if(document.getElementById('6').textContent=='O'){
            sum+=o;
        }
        if(document.getElementById('6').textContent==''){
            sum+=blank;
        }
        return sum;
    }

    const sumOfThirdRow = (x,o,blank) => {
        var sum = 0;
        if(document.getElementById('7').textContent=='X'){
            sum+=x;
        }
        if(document.getElementById('7').textContent=='O'){
            sum+=o;
        }
        if(document.getElementById('7').textContent==''){
            sum+=blank;
        }
        if(document.getElementById('8').textContent=='X'){
            sum+=x;
        }
        if(document.getElementById('8').textContent=='O'){
            sum+=o;
        }
        if(document.getElementById('8').textContent==''){
            sum+=blank;
        }
        if(document.getElementById('9').textContent=='X'){
            sum+=x;
        }
        if(document.getElementById('9').textContent=='O'){
            sum+=o;
        }
        if(document.getElementById('9').textContent==''){
            sum+=blank;
        }
        return sum;
    }

    const sumOfFirstCol = (x,o,blank) => {
        var sum = 0;
        if(document.getElementById('1').textContent=='X'){
            sum+=x;
        }
        if(document.getElementById('1').textContent=='O'){
            sum+=o;
        }
        if(document.getElementById('1').textContent==''){
            sum+=blank;
        }
        if(document.getElementById('4').textContent=='X'){
            sum+=x;
        }
        if(document.getElementById('4').textContent=='O'){
            sum+=o;
        }
        if(document.getElementById('4').textContent==''){
            sum+=blank;
        }
        if(document.getElementById('7').textContent=='X'){
            sum+=x;
        }
        if(document.getElementById('7').textContent=='O'){
            sum+=o;
        }
        if(document.getElementById('7').textContent==''){
            sum+=blank;
        }
        return sum;
    }
    
    const sumOfSecondCol = (x,o,blank) => {
        var sum = 0;
        if(document.getElementById('2').textContent=='X'){
            sum+=x;
        }
        if(document.getElementById('2').textContent=='O'){
            sum+=o;
        }
        if(document.getElementById('2').textContent==''){
            sum+=blank;
        }
        if(document.getElementById('5').textContent=='X'){
            sum+=x;
        }
        if(document.getElementById('5').textContent=='O'){
            sum+=o;
        }
        if(document.getElementById('5').textContent==''){
            sum+=blank;
        }
        if(document.getElementById('8').textContent=='X'){
            sum+=x;
        }
        if(document.getElementById('8').textContent=='O'){
            sum+=o;
        }
        if(document.getElementById('8').textContent==''){
            sum+=blank;
        }
        return sum;
    }
    
    const sumOfThirdCol = (x,o,blank) => {
        var sum = 0;
        if(document.getElementById('3').textContent=='X'){
            sum+=x;
        }
        if(document.getElementById('3').textContent=='O'){
            sum+=o;
        }
        if(document.getElementById('3').textContent==''){
            sum+=blank;
        }
        if(document.getElementById('6').textContent=='X'){
            sum+=x;
        }
        if(document.getElementById('6').textContent=='O'){
            sum+=o;
        }
        if(document.getElementById('6').textContent==''){
            sum+=blank;
        }
        if(document.getElementById('9').textContent=='X'){
            sum+=x;
        }
        if(document.getElementById('9').textContent=='O'){
            sum+=o;
        }
        if(document.getElementById('9').textContent==''){
            sum+=blank;
        }
        return sum;
    }
    
    const sumOfDiagOne = (x,o,blank) => {
        var sum = 0;
        if(document.getElementById('1').textContent=='X'){
            sum+=x;
        }
        if(document.getElementById('1').textContent=='O'){
            sum+=o;
        }
        if(document.getElementById('1').textContent==''){
            sum+=blank;
        }
        if(document.getElementById('5').textContent=='X'){
            sum+=x;
        }
        if(document.getElementById('5').textContent=='O'){
            sum+=o;
        }
        if(document.getElementById('5').textContent==''){
            sum+=blank;
        }
        if(document.getElementById('9').textContent=='X'){
            sum+=x;
        }
        if(document.getElementById('9').textContent=='O'){
            sum+=o;
        }
        if(document.getElementById('9').textContent==''){
            sum+=blank;
        }
        return sum;
    }
    
    const sumOfDiagTwo = (x,o,blank) => {
        var sum = 0;
        if(document.getElementById('3').textContent=='X'){
            sum+=x;
        }
        if(document.getElementById('3').textContent=='O'){
            sum+=o;
        }
        if(document.getElementById('3').textContent==''){
            sum+=blank;
        }
        if(document.getElementById('5').textContent=='X'){
            sum+=x;
        }
        if(document.getElementById('5').textContent=='O'){
            sum+=o;
        }
        if(document.getElementById('5').textContent==''){
            sum+=blank;
        }
        if(document.getElementById('7').textContent=='X'){
            sum+=x;
        }
        if(document.getElementById('7').textContent=='O'){
            sum+=o;
        }
        if(document.getElementById('7').textContent==''){
            sum+=blank;
        }
        return sum;
    }
    
    
    const multOfFirstRow = (x,o,blank) => {
        var mult = 1;
        if(document.getElementById('1').textContent=='X'){
            mult*=x;
        }
        else if(document.getElementById('1').textContent=='O'){
            mult*=o;
        }
        else if(document.getElementById('1').textContent==''){
            mult*=blank;
        }
        if(document.getElementById('2').textContent=='X'){
            mult*=x;
        }
        else if(document.getElementById('2').textContent=='O'){
            mult*=o;
        }
        else if(document.getElementById('2').textContent==''){
            mult*=blank;
        }
        if(document.getElementById('3').textContent=='X'){
            mult*=x;
        }
        if(document.getElementById('3').textContent=='O'){
            mult*=o;
        }
        if(document.getElementById('3').textContent==''){
            mult*=blank;
        }
        console.log(mult);
        return mult;
    }

    const multOfSecondRow = (x,o,blank) => {
        var mult = 0;
        if(document.getElementById('4').textContent=='X'){
            mult*=x;
        }
        if(document.getElementById('4').textContent=='O'){
            mult*=o;
        }
        if(document.getElementById('4').textContent==''){
            mult*=blank;
        }
        if(document.getElementById('5').textContent=='X'){
            mult*=x;
        }
        if(document.getElementById('5').textContent=='O'){
            mult*=o;
        }
        if(document.getElementById('5').textContent==''){
            mult*=blank;
        }
        if(document.getElementById('6').textContent=='X'){
            mult*=x;
        }
        if(document.getElementById('6').textContent=='O'){
            mult*=o;
        }
        if(document.getElementById('6').textContent==''){
            mult*=blank;
        }
        return mult;
    }

    const multOfThirdRow = (x,o,blank) => {
        var mult = 1;
        if(document.getElementById('7').textContent=='X'){
            mult*=x;
        }
        if(document.getElementById('7').textContent=='O'){
            mult*=o;
        }
        if(document.getElementById('7').textContent==''){
            mult*=blank;
        }
        if(document.getElementById('8').textContent=='X'){
            mult*=x;
        }
        if(document.getElementById('8').textContent=='O'){
            mult*=o;
        }
        if(document.getElementById('8').textContent==''){
            mult*=blank;
        }
        if(document.getElementById('9').textContent=='X'){
            mult*=x;
        }
        if(document.getElementById('9').textContent=='O'){
            mult*=o;
        }
        if(document.getElementById('9').textContent==''){
            mult*=blank;
        }
        return mult;
    }

    const multOfFirstCol = (x,o,blank) => {
        var mult = 1;
        if(document.getElementById('1').textContent=='X'){
            mult*=x;
        }
        if(document.getElementById('1').textContent=='O'){
            mult*=o;
        }
        if(document.getElementById('1').textContent==''){
            mult*=blank;
        }
        if(document.getElementById('4').textContent=='X'){
            mult*=x;
        }
        if(document.getElementById('4').textContent=='O'){
            mult*=o;
        }
        if(document.getElementById('4').textContent==''){
            mult*=blank;
        }
        if(document.getElementById('7').textContent=='X'){
            mult*=x;
        }
        if(document.getElementById('7').textContent=='O'){
            mult*=o;
        }
        if(document.getElementById('7').textContent==''){
            mult*=blank;
        }
        return mult;
    }
    
    const multOfSecondCol = (x,o,blank) => {
        var mult = 1;
        if(document.getElementById('2').textContent=='X'){
            mult*=x;
        }
        if(document.getElementById('2').textContent=='O'){
            mult*=o;
        }
        if(document.getElementById('2').textContent==''){
            mult*=blank;
        }
        if(document.getElementById('5').textContent=='X'){
            mult*=x;
        }
        if(document.getElementById('5').textContent=='O'){
            mult*=o;
        }
        if(document.getElementById('5').textContent==''){
            mult*=blank;
        }
        if(document.getElementById('8').textContent=='X'){
            mult*=x;
        }
        if(document.getElementById('8').textContent=='O'){
            mult*=o;
        }
        if(document.getElementById('8').textContent==''){
            mult*=blank;
        }
        return mult;
    }
    
    const multOfThirdCol = (x,o,blank) => {
        var mult = 1;
        if(document.getElementById('3').textContent=='X'){
            mult*=x;
        }
        if(document.getElementById('3').textContent=='O'){
            mult*=o;
        }
        if(document.getElementById('3').textContent==''){
            mult*=blank;
        }
        if(document.getElementById('6').textContent=='X'){
            mult*=x;
        }
        if(document.getElementById('6').textContent=='O'){
            mult*=o;
        }
        if(document.getElementById('6').textContent==''){
            mult*=blank;
        }
        if(document.getElementById('9').textContent=='X'){
            mult*=x;
        }
        if(document.getElementById('9').textContent=='O'){
            mult*=o;
        }
        if(document.getElementById('9').textContent==''){
            mult*=blank;
        }
        return mult;
    }
    
    const multOfDiagOne = (x,o,blank) => {
        var mult = 1;
        if(document.getElementById('1').textContent=='X'){
            mult*=x;
        }
        if(document.getElementById('1').textContent=='O'){
            mult*=o;
        }
        if(document.getElementById('1').textContent==''){
            mult*=blank;
        }
        if(document.getElementById('5').textContent=='X'){
            mult*=x;
        }
        if(document.getElementById('5').textContent=='O'){
            mult*=o;
        }
        if(document.getElementById('5').textContent==''){
            mult*=blank;
        }
        if(document.getElementById('9').textContent=='X'){
            mult*=x;
        }
        if(document.getElementById('9').textContent=='O'){
            mult*=o;
        }
        if(document.getElementById('9').textContent==''){
            mult*=blank;
        }
        return mult;
    }
    
    const multOfDiagTwo = (x,o,blank) => {
        var mult = 1;
        if(document.getElementById('3').textContent=='X'){
            mult*=x;
        }
        if(document.getElementById('3').textContent=='O'){
            mult*=o;
        }
        if(document.getElementById('3').textContent==''){
            mult*=blank;
        }
        if(document.getElementById('5').textContent=='X'){
            mult*=x;
        }
        if(document.getElementById('5').textContent=='O'){
            mult*=o;
        }
        if(document.getElementById('5').textContent==''){
            mult*=blank;
        }
        if(document.getElementById('7').textContent=='X'){
            mult*=x;
        }
        if(document.getElementById('7').textContent=='O'){
            mult*=o;
        }
        if(document.getElementById('7').textContent==''){
            mult*=blank;
        }
        return mult;
    }
    
    const multOfGrid = (x,o,blank) => {
        var mult = 1;
        if(document.getElementById('1').textContent=='X'){
            mult*=x;
        }
        else if(document.getElementById('1').textContent=='O'){
            mult*=o;
        }
        else if(document.getElementById('1').textContent==''){
            mult*=blank;
        }
        if(document.getElementById('2').textContent=='X'){
            mult*=x;
        }
        else if(document.getElementById('2').textContent=='O'){
            mult*=o;
        }
        else if(document.getElementById('2').textContent==''){
            mult*=blank;
        }
        if(document.getElementById('3').textContent=='X'){
            mult*=x;
        }
        if(document.getElementById('3').textContent=='O'){
            mult*=o;
        }
        if(document.getElementById('3').textContent==''){
            mult*=blank;
        }
        // Row 2
        if(document.getElementById('4').textContent=='X'){
            mult*=x;
        }
        else if(document.getElementById('4').textContent=='O'){
            mult*=o;
        }
        else if(document.getElementById('4').textContent==''){
            mult*=blank;
        }
        if(document.getElementById('5').textContent=='X'){
            mult*=x;
        }
        else if(document.getElementById('5').textContent=='O'){
            mult*=o;
        }
        else if(document.getElementById('5').textContent==''){
            mult*=blank;
        }
        if(document.getElementById('6').textContent=='X'){
            mult*=x;
        }
        if(document.getElementById('6').textContent=='O'){
            mult*=o;
        }
        if(document.getElementById('6').textContent==''){
            mult*=blank;
        }
        //Row 3
        if(document.getElementById('7').textContent=='X'){
            mult*=x;
        }
        else if(document.getElementById('7').textContent=='O'){
            mult*=o;
        }
        else if(document.getElementById('7').textContent==''){
            mult*=blank;
        }
        if(document.getElementById('8').textContent=='X'){
            mult*=x;
        }
        else if(document.getElementById('8').textContent=='O'){
            mult*=o;
        }
        else if(document.getElementById('8').textContent==''){
            mult*=blank;
        }
        if(document.getElementById('9').textContent=='X'){
            mult*=x;
        }
        if(document.getElementById('9').textContent=='O'){
            mult*=o;
        }
        if(document.getElementById('9').textContent==''){
            mult*=blank;
        }
        console.log(mult);
        return mult;
    }

    // THIS BUTTON STARTS THE ACTUAL GAME BY TRIGGERING THE FUNCTION OF TIC TAC TOE TO ACCEPT RESPONSES

    const startGame = () =>{
        document.querySelector('.start-button').style.display = 'none';
    var gameStatus = true;

// RUNS IF USER HAS WON THE GAME

    userWon = () =>{
        document.querySelector('.game-status').textContent = 'User has won the game!';
        document.querySelector('.game-status').style.color = 'Green';
        gameStatus = false;
    }
// RUNS IF COMPUTER HAS WON THE GAME
    computerWon = () => {
        document.querySelector('.game-status').textContent = 'Computer has won the game!';
        document.querySelector('.game-status').style.color = 'Red';
        gameStatus = false;
    }


    isDraw = () =>{
        document.querySelector('.game-status').textContent = 'It was a tie!';
        document.querySelector('.game-status').style.color = 'Orange';
        gameStatus = false;
    }

// CHECKS IF COMPUTER HAS WON
    checkComputerWin=() => {
        var one = document.getElementById('1').textContent;
        var two = document.getElementById('2').textContent;
        var three = document.getElementById('3').textContent;
        var four = document.getElementById('4').textContent;
        var five = document.getElementById('5').textContent;
        var six = document.getElementById('6').textContent;
        var seven = document.getElementById('7').textContent;
        var eight = document.getElementById('8').textContent;
        var nine = document.getElementById('9').textContent;

        if((one=='O' || one=='X') && (two=='O' || two=='X') && (three=='O' || three=='X') && (four=='O' || four=='X') && (five=='O' || five=='X') && (six=='O' || six=='X') && (seven=='O' || seven=='X') && (eight=='O' || eight=='X') && (nine=='O' || nine=='X')){
            isDraw();
        }

        if(one=='O' && two=='O' && three=='O'){ //Row 1
            computerWon();
        }
        else if(one=='O' && five=='O' && nine=='O'){ //Diag 1
            computerWon();
        }
        else if(four=='O' && five=='O' && six=='O'){ //Row 2
            computerWon();
        }
        else if(seven=='O' && eight=='O' && nine=='O'){ //Row 3
            computerWon();
        }
        else if(three=='O' && five=='O' && seven=='O'){ //Diag 2
            computerWon();
        }
        else if(one=='O' && four=='O' && seven=='O'){ //Col 1
            computerWon();
        }
        else if(two=='O' && five=='O' && eight=='O'){ //Col 2
            computerWon();
        }
        else if(three=='O' && six=='O' && nine=='O'){
            computerWon();
        }
    }

// CHECKS IF GAME IS OVER OR NOT
    isGameOver = () =>{
        var one = document.getElementById('1').textContent=='X' || document.getElementById('1').textContent=='O';
        var two = document.getElementById('2').textContent=='X' || document.getElementById('2').textContent=='O';
        var three = document.getElementById('3').textContent=='X' || document.getElementById('3').textContent=='O';
        var four = document.getElementById('4').textContent=='X' || document.getElementById('4').textContent=='O';
        var five = document.getElementById('5').textContent=='X' || document.getElementById('5').textContent=='O';
        var six = document.getElementById('6').textContent=='X' || document.getElementById('6').textContent=='O';
        var seven = document.getElementById('7').textContent=='X' || document.getElementById('7').textContent=='O';
        var eight = document.getElementById('8').textContent=='X' || document.getElementById('8').textContent=='O';
        var nine = document.getElementById('9').textContent=='X' || document.getElementById('9').textContent=='O';
        document.querySelector('.kol').textContent = ''
        document.querySelector('.kol').classList.remove('column')
        if(!gameStatus){
                answer = sumOfFirstRow(2,3,4);
                document.getElementById('question-box').style.display = 'block';
                console.log(document.getElementById('question-box'))
                console.log('Game over');
            }
        if(one && two && three && four && five && six && seven && eight && nine){
            if(document.querySelector('.game-status').textContent==''){
                document.querySelector('.game-status').textContent = 'Game was a TIE!'
            }
            console.log('Game over');
            gameStatus = false;
            return true;
        }
        console.log('Game is not over');
        return false;
    }

// CHECKS IF USER HAS WON OR NOT
    checkWin = ()=>{
        var one = document.getElementById('1').textContent;
        var two = document.getElementById('2').textContent;
        var three = document.getElementById('3').textContent;
        var four = document.getElementById('4').textContent;
        var five = document.getElementById('5').textContent;
        var six = document.getElementById('6').textContent;
        var seven = document.getElementById('7').textContent;
        var eight = document.getElementById('8').textContent;
        var nine = document.getElementById('9').textContent;

        if(one=='X' && two=='X' && three=='X'){ //Row 1
            userWon();
        }
        else if(one=='X' && five=='X' && nine=='X'){ //Diag 1
            userWon();
        }
        else if(four=='X' && five=='X' && six=='X'){ //Row 2
            userWon();
        }
        else if(seven=='X' && eight=='X' && nine=='X'){ //Row 3
            userWon();
        }
        else if(three=='X' && five=='X' && seven=='X'){ //Diag 2
            userWon();
        }
        else if(one=='X' && four=='X' && seven=='X'){ //Col 1
            userWon();
        }
        else if(two=='X' && five=='X' && eight=='X'){ //Col 2
            userWon();
        }
        else if(three=='X' && six=='X' && nine=='X'){
            userWon();
        }else{
            checkComputerWin();
        }
        
        isGameOver();
    }

    // EVENT LISTENERS TO LISTEN TO THE CLICK EVENTS OF TIC TAC TOE 
    if(gameStatus){
    document.getElementById('1').addEventListener('click',()=>{
        if(document.getElementById('1').textContent!='X' && document.getElementById('1').textContent!='O'){
            if(gameStatus)
            document.getElementById('1').textContent = 'X';
            document.getElementById('1').style.color = 'red';
            checkWin();
            var isFilled = false;
            if(gameStatus)
            do{
                let val = Math.ceil(Math.random() * (9 - 1) + 1).toString();
                //console.log(val);
                if(document.getElementById(val).textContent!='X' && document.getElementById(val).textContent!='O' && val!='0'){
                    document.getElementById(val).textContent = 'O';
                    isFilled = true;
                    checkWin();
                }
            }while(!isFilled)

        }
    });
    document.getElementById('2').addEventListener('click',()=>{
        if(document.getElementById('2').textContent!='X' && document.getElementById('2').textContent!='O'){
            if(gameStatus)
            document.getElementById('2').textContent = 'X';
            document.getElementById('2').style.color = 'red';
            checkWin();
            var isFilled = false;
            if(gameStatus)
            do{
                let val = Math.ceil(Math.random() * (9 - 1) + 1).toString();
                if(document.getElementById(val).textContent!='X' && document.getElementById(val).textContent!='O'  && val!='0'){
                    document.getElementById(val).textContent = 'O';
                    isFilled = true;
                    checkWin();
                }
            }while(!isFilled)

        }
    });
    document.getElementById('3').addEventListener('click',()=>{
        if(document.getElementById('3').textContent!='X' && document.getElementById('3').textContent!='O'){
            if(gameStatus)
            document.getElementById('3').textContent = 'X';
            document.getElementById('3').style.color = 'red';
            checkWin();
            var isFilled = false;
            if(gameStatus)
            do{
                let val = Math.ceil(Math.random() * (9 - 1) + 1).toString();
                if(document.getElementById(val).textContent!='X' && document.getElementById(val).textContent!='O'  && val!='0'){
                    document.getElementById(val).textContent = 'O';
                    isFilled = true;
                    checkWin();
                }
            }while(!isFilled)

        }
    });
    document.getElementById('4').addEventListener('click',()=>{
        if(document.getElementById('4').textContent!='X' && document.getElementById('4').textContent!='O'){
            if(gameStatus)
            document.getElementById('4').textContent = 'X';
            document.getElementById('4').style.color = 'red';
            checkWin();
            var isFilled = false;
            if(gameStatus)
            do{
                let val = Math.ceil(Math.random() * (9 - 1) + 1).toString();
                if(document.getElementById(val).textContent!='X' && document.getElementById(val).textContent!='O'  && val!='0'){
                    document.getElementById(val).textContent = 'O';
                    isFilled = true;
                    checkWin();
                }
            }while(!isFilled)

        }
    });
    document.getElementById('5').addEventListener('click',()=>{
        if(document.getElementById('5').textContent!='X' && document.getElementById('5').textContent!='O'){
            if(gameStatus)
            document.getElementById('5').textContent = 'X';
            document.getElementById('5').style.color = 'red';
            checkWin();
            var isFilled = false;
            if(gameStatus)
            do{
                let val = Math.ceil(Math.random() * (9 - 1) + 1).toString();
                //console.log(val);
                if(document.getElementById(val).textContent!='X' && document.getElementById(val).textContent!='O'  && val!='0'){
                    document.getElementById(val).textContent = 'O';
                    isFilled = true;
                    checkWin();
                }
            }while(!isFilled)

        }
    });
    document.getElementById('6').addEventListener('click',()=>{
        if(document.getElementById('6').textContent!='X' && document.getElementById('6').textContent!='O'){
            if(gameStatus)
            document.getElementById('6').textContent = 'X';
            document.getElementById('6').style.color = 'red';
            checkWin();
            var isFilled = false;
            if(gameStatus)
            do{
                let val = Math.ceil(Math.random() * (9 - 1) + 1).toString();
                //console.log(val);
                if(document.getElementById(val).textContent!='X' && document.getElementById(val).textContent!='O'  && val!='0'){
                    document.getElementById(val).textContent = 'O';
                    isFilled = true;
                    checkWin();
                }
            }while(!isFilled)

        }
    });
    document.getElementById('7').addEventListener('click',()=>{
        if(document.getElementById('7').textContent!='X' && document.getElementById('7').textContent!='O'){
            if(gameStatus)
            document.getElementById('7').textContent = 'X';
            document.getElementById('7').style.color = 'red';
            checkWin();
            var isFilled = false;
            if(gameStatus)
            do{
                let val = Math.ceil(Math.random() * (9 - 1) + 1).toString();
                //console.log(val);
                if(document.getElementById(val).textContent!='X' && document.getElementById(val).textContent!='O'  && val!='0'){
                    document.getElementById(val).textContent = 'O';
                    isFilled = true;
                    checkWin();
                }
            }while(!isFilled)

        }
    });
    document.getElementById('8').addEventListener('click',()=>{
        if(document.getElementById('8').textContent!='X' && document.getElementById('8').textContent!='O'){
            if(gameStatus)
            document.getElementById('8').textContent = 'X';
            document.getElementById('8').style.color = 'red';
            checkWin();
            var isFilled = false;
            if(gameStatus)
            do{
                let val = Math.ceil(Math.random() * (9 - 1) + 1).toString();
                //console.log(val);
                if(document.getElementById(val).textContent!='X' && document.getElementById(val).textContent!='O'  && val!='0'){
                    document.getElementById(val).textContent = 'O';
                    isFilled = true;
                    checkWin();
                }
            }while(!isFilled)

        }
    });
    document.getElementById('9').addEventListener('click',()=>{
        if(document.getElementById('9').textContent!='X' && document.getElementById('9').textContent!='O'){
            if(gameStatus)
            document.getElementById('9').textContent = 'X';
            document.getElementById('9').style.color = 'red';
            checkWin();
            var isFilled = false;
            if(gameStatus)
            do{
                let val = Math.ceil(Math.random() * (9 - 1) + 1).toString();
                //console.log(val);
                if(document.getElementById(val).textContent!='X' && document.getElementById(val).textContent!='O'  && val!='0'){
                    document.getElementById(val).textContent = 'O';
                    isFilled = true;
                    checkWin();
                }
            }while(!isFilled)

        }
    });
    }
}
</script>

<!--  -->
{% endblock %}