{% extends 'base.html' %}


{% block head %}
<style>
.main-box{
    max-width: 100rem;
    width: 60rem;
    height:60rem;
}

.contain{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10em;
}

.cen {
  display: flex;
  justify-content: center;
}
</style>




{% endblock %}

{% block body %}
<!--  -->

<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <strong>Tic Tac Toe</strong>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>
    </div>
  </div>
</nav>

<div style="margin-top: 5em;width: 70em;display: flex;flex-direction: column;margin-left: auto;margin-right: auto;">
    <article class="panel is-primary">
        <p class="panel-heading">
          View Games
        </p>
        {% for i in games %}
       <div style="width: 50em;margin-left: auto;margin-right: auto;margin-top: 1em;margin-bottom: 1em;">
        <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                {{ i.name }}
              </p>
             </header>
             <br><br>
             <div class="cen">
              <table class="table is-hoverable is-bordered">
                <tr>
                  <th>X value</th>
                  <th>O value</th>
                  <th>Empty Value</th>
                  <th>Type</th>
                  <th>Win %</th>
                </tr>
                <tr>
                  <td>{{ i.x_value }}</td>
                  <td>{{ i.o_value }}</td>
                  <td>{{ i.empty_value }}</td>
                  {% if i.type == 0 %}
                    <td>Addition</td>
                  {% else %}
                    <td>Multiplication</td>
                  {% endif %}
                  <td>{{ i.win }}</td>
                </tr>
              </table>
             </div>
             <br><br>
            <footer class="card-footer">
              <a href="{{ '/deleteGame/' + i.gid }}" class="card-footer-item">Delete Game</a>
            </footer>
          </div>
       </div>
       {% endfor %}
      </article>
</div>


<!--  -->
{% endblock %}