{% extends 'base.html' %}


{% block head %}
<style>
.main-box{
    max-width: 100rem;
    width: 60rem;
    height:60rem;
}

.contain{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10em;
}
</style>




{% endblock %}

{% block body %}
<!--  -->

<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <strong>Tic Tac Toe</strong>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="/" class="navbar-item">
        Home
      </a>
    </div>
  </div>
</nav>

<div style="margin-top: 5em;width: 70em;display: flex;flex-direction: column;margin-left: auto;margin-right: auto;">
    <article class="panel is-primary">
       <div style="width: 50em;margin-left: auto;margin-right: auto;margin-top: 1em;margin-bottom: 1em;">
        <br>
        {% for i in games %}
        <br>
        <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                {{ i.name }}
              </p>
              <a href="#" class="card-header-icon" aria-label="more options">
                <span class="icon">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </a>
            </header>
            <div class="card-content">
              <div class="content">
                Ready to play a brand new game?
                <br>
              </div>
            </div>
            <table style="margin-left: auto;margin-right: auto;" class="table is-fullwidth">
              <tr>
                <th>RANK</th>
                <th>NAME</th>
                <th>POINTS</th>
              </tr>
              {% for j in range(umm[i.gid]|length) %}
                  <tr>
                    <td>
                      {{ j+1 }}
                    </td>
                    <td>
                      {{ umm[i.gid][j]['name'] }}
                    </td>
                    <td>
                      {{ umm[i.gid][j]['points'] }}
                    </td>
                  </tr>
                {% endfor %}
            </table>
            <footer class="card-footer">
              <a href="{{ '/student/gamepage/' + i.gid }}" class="card-footer-item">Play Game</a>
            </footer>
          </div>
          <br>
          {% endfor %}
        </div>

      </article>
</div>


<!--  -->
{% endblock %}
