{% extends 'base.html' %}


{% block title %}
{% endblock %}

{% block body %}
<style>
    .boxs {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        padding: 40px;
    }
    .column {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="">
        <strong>Tic Tac Toe</strong>
      </a>
  
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a href="/" class="navbar-item">
          Home
        </a>
      </div>
    </div>
  </nav>
<div class="columns boxs">
    <div class="column">
        <a href="/teacher/createagame" style="width: 100%; height: 200px;" class="button is-primary">Create Game</a>
    </div>
    <div class="column">
        <a href="/gameStats" style="width: 100%; height: 200px;" class="button is-primary">Game Stats</a>
    </div>
</div>
{% endblock %}